{% extends 'base_auth.html' %}
{% load static %}

{% block title %}Register{% endblock title %}

{% block css %}
    <style>
       .bg {
        /* The image used */
        background-image: url("{% static 'custom/register-bg.jpg' %}");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  <!-- SweetAlert2 -->
  <link rel="stylesheet" href="{% static 'en/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{% static 'en/plugins/toastr/toastr.min.css' %}">
{% endblock css %}

{% block content %}
<div class="card-body" style="background-color: #e4e4e2;">
    <p class="login-box-msg">Register a new membership</p>

    {% include 'partials/messages.html' %}
    
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      
      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameField" placeholder="Username" name="username">
        <div class="error invalid_feedback invalid-feedback"></div>
        <div class="text-success usernameSuccessOutput"></div>
      </div>

      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="emailField" placeholder="Email" name="email">
        <div class="error emailFeedbackArea invalid-feedback"></div>
      </div>

      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label" >Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password1">
      </div>

      <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label">Retype password</label>
        <input type="password" class="form-control" placeholder="Retype password" name="password2">
      </div>
      
      
      

      <div class="row justify-content-center my-3">
        
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block submit-btn">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    

    <a href="{% url 'login' %}" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->

  <script src="{% static 'custom/register.js' %}"></script>
{% endblock content %}
    