{% extends 'base.html' %}
{% load static %}
{% block title %} Perefered Currency {% endblock title %}

{% block css %}
    
{% endblock css %}
    


{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        

        <!-- Main content -->
        <section class="content py-3">

            <!-- Default box -->
            <div class="card card-row card-primary">
                <div class="card-header">
                <h3 class="card-title">
                    Perefered Currency
                </h3>
                </div>
                <div class="card-body">

                    <form action="{% url 'preferences' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleSelectRounded0">Currency :</label>
                            <select class="custom-select rounded-0" id="exampleSelectRounded0" name="currency">
                                <option selected > Choose Currency ...</option>
                                {% if user_perferences.currency %}
                                    <option value="{{ user_perferences.currency }}" selected >{{ user_perferences.currency }}</option>
                                {% endif %}
                                {% for currency in currencies %}
                                    <option value="{{ currency.name }} - {{ currency.value }}" >{{ currency.name }} - {{ currency.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Save</button>
                    </form>
                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock content %}



{% block js %}
    
{% endblock js %}
    
    