{% load static %}



{% if messages %}
<div class="messages">
    {% for message in messages %}

    <script>
      window.onload = (function() {
    
          Swal.fire({
            icon: "{{message.tags}}",
            title: "{{message}}",
            showConfirmButton: false,
            timer: 2000
          });
      });
    </script>

    {% endfor %}
</div>
{% endif %}

  <!-- SweetAlert2 -->
  <script src="{% static 'en/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
  <!-- Toastr -->
  <script src="{% static 'en/plugins/toastr/toastr.min.js' %}"></script>