<table class="table table-bordered">
    <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
                <th>Date</th>
                <th style="width: 8%"></th>
            </tr>
    </thead>
    <tbody>
        
        {% for expense in expenses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.date |date:"m/d/Y" }}</td>
                <td>
                    <a href="{% url 'edit_expense' expense.pk %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" 
                        data-pk="{{ expense.pk }}"
                        data-amount="{{ expense.amount }}"
                        data-category="{{ expense.category }}"
                        data-toggle="modal" 
                        data-target="#delete-expense"><i class="fas fa-trash"></i></a>
                    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>