{% extends 'base.html' %}
{% load static %}
{% block title %} Expenses {% endblock title %}

{% block css %}
    
{% endblock css %}
    

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        

        <!-- Main content -->
        <section class="content py-3">

            <!-- Default box -->
            <div class="card card-row card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        My Expenses
                    </h3>
                    <a href="{% url 'add_expense' %}">
                        <button type="submit" class="btn btn-default btn-sm float-right">Add expense</button>
                    </a>
                </div>

                
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Expenses List</h3>
      
                      <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right" id="searchField" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        
                        <div class="app-table">
                            <table class="table table-bordered table-hover">
                                <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Amount</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Date</th>
                                            <th style="width: 8%"></th>
                                        </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for expense in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ expense.amount }}</td>
                                            <td>{{ expense.description }}</td>
                                            <td>{{ expense.category }}</td>
                                            <td>{{ expense.date |date:"m/d/Y" }}</td>
                                            <td>
                                                <a href="{% url 'edit_expense' expense.pk %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
                                                <a class="btn btn-danger btn-xs" 
                                                    data-pk="{{ expense.pk }}"
                                                    data-amount="{{ expense.amount }}"
                                                    data-category="{{ expense.category }}"
                                                    data-toggle="modal" 
                                                    data-target="#delete-expense"><i class="fas fa-trash"></i></a>
                                                
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="table-output">
                            <table class="table table-bordered table-hover">
                                <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Amount</th>
                                            <th>Description</th>
                                            <th>Category</th>
                                            <th>Date</th>
                                            <th style="width: 8%"></th>
                                        </tr>
                                </thead>
                                <tbody class="output-table-body">
                                    
                                    
                                        
                                   
                                </tbody>
                            </table>
                        </div>


                        


                    </div>
        
                    <div class="card-footer clearfix paginate-content">
                        {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                            {% endif %}
                        
    
                            {% for i in paginator.page_range %}
                                                    
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                                {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                                
                            
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="delete-expense">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Expense</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="{% url 'delete_expense' %}" method="post" id="deleteExpenseForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5 class="text-danger">Are you sure you want Delete expense :</h5>
                        
                            <input type="text" class="form-control" id="amount" disabled>
                            <input type="hidden" class="form-control" id="pk" name="pk">
                        
                        
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete amount</button>
                    </div>
                </form>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock content %}

{% block js %}

<script>
    $('#delete-expense').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var pk = button.data('pk')
        var amount = button.data('amount')
        var category = button.data('category')
        var modal = $(this)
        modal.find('.modal-body #pk').val(pk);
        modal.find('.modal-body #amount').val(category + '  -  ' + amount);
    })

</script>

<script src="{% static 'custom/searchExpense.js' %}"></script>



    
{% endblock js %}
    
    