{% extends 'base.html' %}
{% load static %}
{% block title %} Expenses {% endblock title %}

{% block css %}
    
{% endblock css %}
    

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        

        <!-- Main content -->
        <section class="content py-3">

            <!-- Default box -->
            <div class="card card-row card-primary">
                <div class="card-header">
                <h3 class="card-title">
                    My Expenses
                </h3>
                <a href="{% url 'add_expense' %}">
                    <button type="submit" class="btn btn-default btn-sm float-right">Add expense</button>
                </a>
                
                </div>
                <div class="card-body" id="expense-detail">
                    {% include 'expenses/includes/expenses-table.html' %}
                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div class="modal fade" id="delete-expense">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Expense</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="{% url 'delete_expense' %}" method="post" id="deleteExpenseForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h5 class="text-danger">Are you sure you want Delete expense :</h5>
                        
                            <input type="text" class="form-control" id="amount" disabled>
                            <input type="hidden" class="form-control" id="pk" name="pk">
                        
                        
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete amount</button>
                    </div>
                </form>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock content %}

{% block js %}

<script>
    $('#delete-expense').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget)
        var pk = button.data('pk')
        var amount = button.data('amount')
        var category = button.data('category')
        var modal = $(this)
        modal.find('.modal-body #pk').val(pk);
        modal.find('.modal-body #amount').val(category + '  -  ' + amount);
    })

</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $(document).on('submit','#deleteExpenseForm',function(event){
            // No Refresh Browser
            event.preventDefault()

            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success:function(response){
                    $('#expense-detail').html(response['result'])
                    $('#delete-expense').close()
                },
                error:function(){
                    
                }
            })
        })
    })
</script>
    
{% endblock js %}
    
    